[submodule "skills/skills/tuqu-photo-skill"]
	path = skills/skills/tuqu-photo-skill
	url = git@github.com:tuquai/tuqu-photo-skill.git
[submodule "skills/tuqu-photo-skill"]
	path = skills/tuqu-photo-skill
	url = git@github.com:tuquai/tuqu-photo-skill.git
